@import 'vars.scss';
@import 'global.scss';
@import 'fonts.scss';

//HEADER =======================================================================================================================================================================================================================

.header {

    // .header__top

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 90px;
    }

    // .header__logo

    &__logo {
    }

    // .header__text

    &__text {
        margin-left: auto;
        margin-right: 50px;
        font-size: 15px;
        line-height: 24/15*100%;
        font-weight: 400;
        color:  $grayBlue;
    }

    // .header__phone-text

    &__phone-text {
        color: $red;
    }

    // .header__admin

    &__admin {
    }

    // .header__cart

    &__cart {
    }

    // .header__btn

    &__btn {
        padding: 4px 9px;
        margin-left: 21px;
        min-width: 72px;
        font-size: 12px;
        line-height: 24/12*100%;
        color: #fff;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;

    }
    // .header__login

    &__btn-login {
        
        background-color: $green;
    }


    // .header__register

    &__btn-register {
        margin-left: 7px;
        background-color: $red;
    }

    // .header__bottom

    &__bottom {
        background-color: $darkBlue;
    }



    // .header__list

    &__list {
        display: flex;
        align-items: center;
        height: 60px;
    }

    // .header__item

    &__item {
        font-weight: 500;
        line-height: 30/24*100%;
        color: #fff;
    }

    &__item + &__item{
        margin-left: 30px;
    }

    // .header__link

    &__link {
    }
}
// =======================================================================================================================================================================================================================

// SEARCH =======================================================================================================================================================================================================================


.search {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 533px;
    // .search__inner
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 8px;
        bottom: 0;
        background-color: #b5b5b5;
    }

    &__inner {
        padding: 155px 0px 100px;
        text-align: center;
    }

    // .search__title

    &__title {
        font-size: 48px;
        line-height: 55/48*100%;
        font-weight: 700;
        color: #fff;
        margin-bottom: 15px;
    }

    // .search__subtitle

    &__subtitle {
        margin-bottom: 49px;
        font-size: 20px;
        line-height: (30/20)*100%;
        font-weight: 500;
        color: #fff;
    }

    // .search__inner-form

    &__inner-form {
    }

    // .search__form

    &__form {
        max-width: 670px;
        margin: 0 auto;
        
    }

    // .search__form-form

    &__form-form {
        position: relative;
    }

    // .search__form-input

    &__form-input {
        display: block;
        padding: 0 60px 0 25px;
        width: 100%;
        height: 56px;
        font-weight: 500;
        color: $darkBlue;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        outline: none;
        &::placeholder{
            font-weight: 500;
            color: #90a4ae;
        }
        &:focus{
            border: 1px solid $darkBlue;
        }
    }

    &__form-btn{
        position: absolute;
        background-color: transparent;
        border: none;
        outline: none;
        right: 20px;
        top: 15px;
        border: 1px solid transparent;
        cursor: pointer;
        &:focus{
            border: 1px solid $darkBlue;
        }

    }
}
// =======================================================================================================================================================================================================================

// PRODUCT===========================================================================================================================================================================================================================

.product {
    padding: 110px 0px;
    background-color: $bgray;
    // .product__title

    &__title {
        margin-bottom: 45px;
    }

    // .product__inner

    &__inner {
    }

    // .product__inner-btn

    &__inner-btn {
        text-align: center;
        margin-bottom: 60px;
        button{
            padding: 12px 21px;
            font-weight: 500;
            background-color: #fff;
            color: $darkBlue;
            cursor: pointer;
            transition: background 0.3s ease, color 0.2s;
            & + button{
                margin-left: 6px;
            }
            &:hover{
                background-color: $red;
                color: #fff;
            }
        }
        .mixitup-control-active{
            background-color: $red;
            color: #fff;
        }
    }


    // .product__inner-box

    &__inner-box {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    // .product__item

    &__item {
        position: relative;
        flex: 0 1 442px;
        width: 100%;
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        background-color: #fff;
        @media (min-width: 1921px){
                flex: 1 1 442px; 
    }
        
    }
    
    // .product__item-img

    &__item-img {
        display: block;
        min-height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;
    }

    // .product__item-content

    &__item-content,
    &__item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item-content{
        padding: 30px 30px 17px 32px;
        border-bottom: 1px solid #ebeeef;
        font-weight: 500;
    }

    // .product__item-name

    &__item-name {
        max-width: 230px;
    }

    // .product__item-title

    &__item-title {
        display: block;
        margin-bottom: 12px;
        font-size: 18px;
    }

    // .product__item-category

    &__item-category {
        display: block;
        margin-left: 2px;
        font-size: 14px;
        color: $green;
    }

    // .product__item-price

    &__item-price {
        font-size: 20px;
    }

    // .product__item-info

    &__item-info {
        padding: 17px 30px 21px 33px;
        min-height: 68px;
    }

    // .product__item-author

    &__item-author {     
        display: flex;
        align-items: center; 
        max-width: 15px;       
        font-size: 14px;
        font-weight: 500;
        color: $grayBlue;
        img{
            margin-right: 14px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: gray;
        }
    }

    // .product__item-star

    &__item-star {
        display: flex;
        font-size: 12px;
        color: $grayBlue;
        span{
            color: $darkBlue;
        }
        .rate-star{
            margin-right: 13px;
        }
    }

    &__item-bottom{
        display: flex;
        justify-content: center;
        margin-top: 45px;
        button{
            padding: 18px 32px;
            // min-width: 163px;
            font-size: 16px;
            text-align: center;
            box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
            background-color: #fff;
            cursor: pointer;
            & + button{
                margin-left: 8px;
            }
        }
        .mixitup-control-active{
            background-color: $red;
            color: #fff;
            }
           
      
            
        }
        &__item-popular{
            position: absolute;
            border: 30px solid transparent; 
            border-left: 30px solid #8bc34a; 
            border-top: 30px solid #8bc34a;
            top: 0;
            left: 0;
         
        }
}

// =======================================================================================================================================================================================================================

// PRODUCT-SLIDER=======================================================================================================================================================================================================================
.product-slider {
    padding: 110px 0 120px;
    // .product-slider__inner

    &__inner {
        margin-top: 55px;
    }

    .product__item{
        flex: none;
        max-width: 460px;
        border: 1px solid rgb(227, 227, 227);
        box-shadow: none;
        
    }

    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 66px;
        & li{
            margin: 0px 3.5px;
            font-size: 0px;
            width: 15px;
            height: 15px;
            border: 1px solid #d2d2d2;
            border-radius: 50%;
            background-color: rgb(232, 232, 232);
            cursor: pointer;
            &.slick-active{
                background-color:$green;
                border-color: $green;
            }
        }   
    }
   

}






//=======================================================================================================================================================================================================================

//ADVANTAGES =======================================================================================================================================================================================================================
.adventages {
    padding: 115px 0 55px 0;
    min-height: 616px;
    background-color: $darkBlue;
    // .adventages__title

    &__title {
        color: #fff;
    }

    // .adventages__inner

    &__inner {
        display: flex;
        justify-content: center;
        margin-top: 75px;
    }

    // .adventages__item

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        & + &{
            margin-left: 80px;
        }
        &:hover{
            .adventages__item-img{
                background-color: $green;
                
            }
            .adventages__item-title{
                color: $green;
            }
            .adventages__item-img{
                g{
                    fill: #fff;
                }
                .gift{
                    color: #fff;
                }
            }
        }
    }

    // .adventages__item-img

    &__item-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        transition: background 0.3s;

        
    }

    // .adventages__item-title

    &__item-title {
        margin-top: 30px;
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        transition: color 0.3s;
    }

    // .adventages__item-text

    &__item-text {
        margin-top: 14px;
        max-width: 327px;
        font-size: 15px;
        line-height: (24/15)*100%;
        color: #b0bec5;
        text-align: center;
    }

    .lock{
        width: 70px;
        height: 66px;
    }

    .gift{
        width: 73px;
        height: 74px;
        color: #000;
        transition: color .3s;
        
    }

    .like{
        width: 86px;
        height: 74px;
    }

    g{
        transition: fill .1s;
    }
}


//=======================================================================================================================================================================================================================

//AUTHOR=======================================================================================================================================================================================================================
.authors {
    margin-top: 5px;
    padding: 245px 0px 144px;
    min-height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // .author__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        max-width: 653px;
        margin: 0 auto;
        padding: 80px 60px;
        background-color: $green;
    }

    // .author__text

    &__text {
        max-width: 260px;
        font-size: 30px;
        line-height: (36/30)*100%;
        color: #fff;
        span{
            font-weight: 700;
        }
    }

    // .author__btn

    &__btn {
        padding: 20px 10px;
        max-width: 225px;
        width: 100%;
        font-size: 18px;
        line-height: 100%;
        text-align: center;
        background-color: #fff;
        cursor: pointer;
        align-self: center;
    }
}


//=======================================================================================================================================================================================================================




  